*}{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3498db;
    border: 1px solid black;
    border-radius: 40%;
}

#password{
    color: #8e44ad;
}